#top-main .text-wrap .overlay-heading{color: inherit;}
#top-main .text-wrap{background-color: rgba(30,42,55,0.7);}
#top-featured .item,.post-wrap{border-color: #dadcdf;}

.about-author{background-color: #fff; box-shadow: 0 7px 22px 0 rgba(139, 164, 184, 0.11);}


.side-search-wrap .search-form .form-control{min-width: auto;}
.side-search-wrap .search-form{margin-left: 0;}

#blog-post:not(:last-child){padding-bottom: 3rem;}
#blog-post+.related-section{padding-top: 0;}

.button-wrap-under-text{display: flex; align-items: center;justify-content: space-between;}
.button-wrap-under-text .btn{min-width: 0; padding:0.5rem 1rem; font-size: 0.9rem;}

.post-content ol, .post-content ol ol{padding-left: 0.2rem;}
.post-content ol li:before{color: #707487; font-weight: 300; position: relative; display: inline-block; left: -0.2rem;}
.post-content ol a{font-weight: 600}

.post-content ol ol{padding-left: 1.5rem;}
.post-content ol ol li:before {
    content: counters(item, ".") ". ";
}


@media (max-width: 1199px){

}

@media (max-width: 991px){

}

@media (max-width: 767px) {
  #top-featured .item{background-color: rgba(30,42,55,0.7);}
  #top-featured h3{color: #fff;}
}

@media (max-width: 479px){


}
